*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
}
ul{
    list-style: none;
}
.bg-dark{
    background-color: $dark;
    color: $light;
}
.bg-light{
    background-color: $light;
    color: $dark;
}
.container{
    max-width: 1280px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
    width: 100%;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.flex-c{
    display: flex;
    flex-direction: column;
    align-items: center;
}
a{
    color: $dark;
}
*:focus,
[tabindex="0"]:focus{
    outline-offset: 3px;
    outline: 2px solid #ffa300;
}
.hidden{
    display: none !important;
    visibility: hidden !important;
}
.arrow{
    width: 9px;
    height: 9px;
    box-shadow: -2px 2px 0 rgba(0,0,0,.8);
    float: left;
    transform: rotate(225deg);
}
.skip-links{
    position: relative;
    z-index: 9;
    a{
        padding: 15px 20px;
        position: absolute;
        left: 0;
        top: -200px;
        background-color: #fff;
        color: $dark;
        text-decoration: none;
         &:focus{
            top: 0;
            transition: top 300ms linear;
            outline-offset: -2px;
            outline-style: solid;
        }
    }
}
.btn{
    padding: 10px 15px;
    text-decoration: none;
}
.btn-outline{
    border: 2px solid $dark;
    text-decoration: none;
    font-weight: 600;
    border-radius: 5px;
}
.line{
    width: 2rem;
    height: .1rem;
    background-color: #222;
    border-radius: 10px;
    border: 1px solid #222;
}
.my-1{
    margin: 10px 0;
}
.my-2{
    margin: 20px 0;
}
.my-5{
    margin: 50px 0;
}
.mr-1{
    margin-right: 10px;
}
.px-2{
    padding: 0 20px;
}
.px-5{
    padding: 0 50px;
}
.py-2{
    padding: 20px 0;
}
.pr-2{
    padding-right: 20px;
}
@media (max-width: 600px){
    .container{
        padding: 0 15px;
    }
    .px-2{
        padding: 0;
    }
}
