.navbar{
    background-color: $primary;
    color: #fff;
    height: 70px;
    .flex{
        justify-content: space-between;
    }

    ul{
        display: flex;

        a{
            color: #fff;
            padding: 10px;
            margin: 0 5px;

            &:hover{
                border-bottom: 2px solid #fff;
            }
        }

        li:first-child{
            display: none;
            visibility: hidden;
        }
    }

    .menu-toggle{
        background-color: $primary;
        color: #fff;
        display: none;
        visibility: hidden;
    }
}