.navbar{
    // background-color: $primary;
    // background-color: $light;
    background-color: #fff;
    color: #fff;
    height: 70px;
    .flex{
        // justify-content: space-between;
        justify-content: flex-start;
    }

    ul{
        display: flex;
        margin-left: 20px;

        a{
            // color: #fff;
            color: $dark;
            padding: 10px;
            margin: 0 5px;
            // outline-color: $dark;

            &:hover{
                // border-bottom: 2px solid #fff;
                border-bottom: 2px solid $dark;
            }
        }

        li:first-child{
            display: none;
            visibility: hidden;
        }
    }

    .menu-toggle{
        // background-color: $primary;
        // color: #fff;
        background-color: $light;
        color: $dark;
        display: none;
        visibility: hidden;
    }
}

.skip-links{
    width: 200px;
    position: relative;
    z-index: 99;
    a{
        padding: 10px;
        background-color: #fff;
        position: absolute;
        top: -200px;
        transition: top linear 250ms;
        left: 0;

        &:focus{
            top: 0;
            transition: top linear 250ms;
            outline-offset: 0;
            outline-color: orangered;
        }
    }
}