@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
$primary: #0373E2;
$secondary: #1c3fa8;
$dark: #002240;
$light: #f4f4f4;

@import 'common';
@import 'header';
@import 'homepage';
@import 'maker';
@import 'footer';


*{    
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

*:focus, *[tabindex="0"]{
    outline: 2px solid;
    outline-offset: 2px;
}
body{
    font-family: 'Lato', sans-serif;
    color: #333;
    line-height: 1.6;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #333;
}

h1, h2, h3{
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

p{
    margin: 10px 0;
}

img{
    width: 100%;
}

.logo{
    padding: 5px 10px;
    background-color: $dark;
    font-weight: 600;
    color: #fff;
    outline-color: #000;
    outline-offset: 4px;
}

.logo-container{
    .logo{
        background-color: #fff;
        color: $dark;
    }
}
.sr-only{
    background-color: $dark;
}

.contact{
    .flex{
        flex-direction: column;
        justify-content: space-between;
    }
    .note{
        .social{
            a{
                margin-right: 20px;
                .sr-only{
                    color: #fff;
                }
            }
        }
    }
    .form-wrapper{
        color: #333 !important; 
        margin-top: 30px;
        width: 100%;
        form{
            flex-direction: column;
            align-items: flex-start;
            .form-control.flex{
                margin: 10px 0;
                flex-direction: row;
                align-items: center;
                i{
                    margin-right: 5px;
                }
                p{
                    line-height: 1.2;
                    font-size: 12px;
                }
            }
            input[type="text"],
            input[type="email"],
            textarea{
                width: 250px;
                padding: 8px 0;
                border: none;
                border-bottom: 1px solid #22202B;
                outline-color: #22202B;
                color: #fff;
                text-indent: 10px;
                &::placeholder{
                    color: #444;
                    opacity: .8;
                }
            }
            textarea{
                height: 60px;
            }
            .bot{
                width: 100%;
                margin: 10px 0;
                input{
                    width: 100px;
                }
            }
            .send{
                color: #333;
                border-color: #333;
            }
        }
    }
}

@media (min-width: 1024px){
    .contact{
        background: linear-gradient(110deg, $light 50%, #22202B 50%);
        .flex{
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
        }
        .note{
            max-width: 400px;
            .social{
                a{
                    margin-right: 20px;
                }
            }
        }
        .form-wrapper{
            color: #fff !important;
            margin-top: 0;
            width: auto;
            form{
                flex-direction: column;
                align-items: center;
                .form-control.flex{
                    margin: 10px 0;
                    i{
                        margin-right: 5px;
                    }
                    p{
                        line-height: 1.2;
                        font-size: 12px;
                    }
                }
                input[type="text"],
                input[type="email"],
                textarea{
                    width: 250px;
                    padding: 8px 0;
                    border: none;
                    border-bottom: 1px solid orange;
                    background-color: #22202B;
                    outline-color: #fff;
                    color: #fff;
                    text-indent: 10px;
                    &::placeholder{
                        color: #fff;
                        opacity: .8;
                    }
                }
                textarea{
                    height: 60px;
                }
                .bot{
                    width: 100%;
                    margin: 10px 0;
                    input{
                        width: 100px;
                    }
                }
                .send{
                    color: #fff;
                    border-color: #fff;
                }
            }
        }
    }
}

@media (max-width: 900px){
    .maker-intro{
        .flex{
            justify-content: center;
        }
        .content-img{
            display: none;
            visibility: hidden;
        }
        .content-text{
            text-align: center;
            .content-text-img{
                display: block;
                visibility: visible;
            }
        }
    }
}
// tablets
@media (max-width: 768px){
    header{
        .navbar{
            .container{
                position: relative;
                overflow: visible;
                justify-content: space-between;
            }
            .main-nav{
                display: none;
                visibility: hidden;
            }
            .main-nav.open{
                position: fixed;
                top: 0;
                left: 0;
                width: 300px;
                height: 100vh;
                background-color: $light;
                display: block;
                visibility: visible;
                margin: 0;
                z-index: 99;

                a{
                    &:hover{
                        border-bottom: none;
                    }
                }

                li:not(:first-child){
                    margin: 0 20px;
                    padding: 10px;
                    a{
                        color: $dark;
                    }
                }
                li:not(:last-child):not(:first-child){
                    border-bottom: 1px solid $dark;
                }
                li:first-child{
                    display: block;
                    visibility: visible;
                    margin: 30px 20px;
                    button{
                        margin-left: auto;
                    }
                }
            }
            .menu-toggle{
                display: flex;
                visibility: visible;
                outline-offset: 4px;
            }
        }
    }

    .footer{
        .container{
            flex-direction: column;
        }
    }

    .maker-top{
        .container{
            .employment-list.flex{
                justify-content: center;
                align-items: center;
                flex-direction: column;
                .card{
                    width: 100%;
                }
            }
        }
    }
}


// phones
@media (max-width: 500px){
    .maker-intro{
        h1, p, .btn-outline{
            background-color: $primary;
        }
    }
    .footer{
        nav{
            a{
                background-color: $dark;
            }
        }
    }
}

@media (min-width: 769px) and (max-width: 1023px){
    .contact{
        .flex{
            align-items: flex-start;
        }
    }
}
// animations
@keyframes slideInFromLeft{
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    90%{
        opacity: 1;
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes slideInFromRight{
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    90%{
        opacity: 1;
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes slideInFromTop{
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes slideInFromBottom{
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}