@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
$primary: #0373E2;
$secondary: #1c3fa8;
$dark: #002240;
$light: #f4f4f4;

@import 'common';
@import 'header';
@import 'maker';


*{    
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    font-family: 'Lato', sans-serif;
    color: #333;
    line-height: 1.6;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #333;
}

h1, h2{
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

p{
    margin: 10px 0;
}

img{
    width: 100%;
}




@media (max-width: 900px){
    .maker-intro{
        .flex{
            justify-content: center;
        }
        .content-img{
            display: none;
            visibility: hidden;
        }
        .content-text{
            text-align: center;
            .content-text-img{
                display: block;
                visibility: visible;
            }
        }
    }
}
// tablets
@media (max-width: 768px){
    header{
        .navbar{
            .container{
                position: relative;
                overflow: visible;
            }
            .main-nav{
                display: none;
                visibility: hidden;
            }
            .main-nav.open{
                position: fixed;
                top: 0;
                left: 0;
                width: 300px;
                height: 100vh;
                background-color: $light;
                display: block;
                visibility: visible;

                li:not(:first-child){
                    margin: 0 20px;
                    padding: 10px;
                    a{
                        color: $dark;
                    }
                }
                li:not(:last-child):not(:first-child){
                    border-bottom: 1px solid $dark;
                }
                li:first-child{
                    display: block;
                    visibility: visible;
                    margin: 30px 20px;
                    button{
                        margin-left: auto;
                    }
                }
            }
            .menu-toggle{
                display: block;
                visibility: visible;
            }
        }
    }
}


// phones
@media (max-width: 500px){
    // old code
    // header{
    //     .navbar{
    //         height: 110px;
    //         .flex{
    //             flex-direction: column;
    //         }
    //         ul{
    //             padding: 10px;
    //             background-color: rgba(0,0,0,.1);
    //         }
    //     }
    // }
}

// animations
@keyframes slideInFromLeft{
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    90%{
        opacity: 1;
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes slideInFromRight{
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    90%{
        opacity: 1;
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes slideInFromTop{
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes slideInFromBottom{
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}