@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    background-color: #fff;
    color: #222;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #222;
}
button{
    background-color: #fff;
    cursor: pointer;
}
.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
.flex{
    display: flex;
    align-items: center;
}
.flex-c{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    width: 100%;
    max-width: 1320px;
    padding: 0 20px;
    margin: 0 auto;
}
.ti-angle-down, 
.ti-download,
.ti-arrow-right,
.ti-angle-right
{
    margin-left: 5px;
}
.mint-dark{
    color: #285B00;   
}
h1,h2,h3,h4{
    font-weight: 600;
}
h1{
    font-size: 1.5rem;
}
h2{
    font-size: 1.3rem;
}
h3{
    font-size: 1.2rem;
}
h4{
    font-size: 1.1rem;
}
*:focus, *[tabindex]:focus{
    outline: 2px dashed #000;
}