header{
    .container {
        justify-content: space-between;
        .logo{
            margin: .5rem 0;
            img{width: 200px;}
        }
        .menu-mobile, .menu-mobile-close{
            display: none;
            font-size: 1.5rem;
            padding: 5px;
        }
        .nav{
            > ul{
                >li {
                    position: relative;
                    margin-left: .5rem;
                    &:hover{
                        .submenu{
                            display: flex;
                            a{
                                &:hover{
                                    text-decoration: underline;
                                    background-color: #ECFFD3;
                                }
                            }
                        }
                        .ti-angle-down{
                            transform: rotate(180deg);
                        }
                        > a, button{
                            outline: 1px solid #444;
                        }
                    }
                    a, button{
                        color: #222;
                        font-size: 1rem;
                        padding: .5rem;
                        line-height: 1.6;
                        cursor: pointer;                        
                    }
                    > a, button{
                        font-weight: 600 !important;
                    }
                    .btn-txt{
                        font-family: 'Poppins', sans-serif;
                    }
                }
                .has-submenu.active{
                    .ti-angle-down{
                        transform: rotate(180deg);
                    }
                }
                .submenu{
                    display: none;
                    position: absolute;
                    background-color: #fff;
                    width: auto;
                    min-width: 220px;
                    padding: .5rem;
                    border: 1px solid #f7f7f7;
                    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
                    border-radius: 5px;
                    z-index: 10;
                    ul{
                        width: 100%;
                        li{
                            width: 100%;
                            display: flex;
                        }
                        a{
                            padding: .5rem;
                            width: 100%;
                        }
                    }
                    .close-dropdown{
                        position: absolute;
                        z-index: 11;
                        right: -1rem;
                        bottom: -1rem;
                        border: 2px solid #222;
                        border-radius: 5px;
                        opacity: 0;
                        height: 2.5rem;
                        outline-offset: 2px;
                        &:focus{
                            opacity: 1;
                        }
                    }
                }
                .submenu.about{
                    right: 0;
                }
                .submenu.expand{
                    display: flex;
                }
            }
        }
    }
}
#main{
    .breadcrumbs{
        width: 100%;
        background-color: #f7f7f7;
        padding: .5rem 0;
        margin-bottom: .5rem;
        ul{
            flex-wrap: wrap;
            a{
                padding: .2rem;
                display: flex;
                align-items: center;
                margin-right: .5rem;
                font-weight: 600;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}
#footer{
    -webkit-box-shadow: 0px -2px 3px -1px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px -2px 3px -1px rgba(0,0,0,0.15);
    box-shadow: 0px -2px 3px -1px rgba(0,0,0,0.15);
    height: auto;
    margin-top: 2rem;
    padding-bottom: 2rem;
    .container{
        .nav{
            padding: 1rem;
            ul{
                flex-wrap: wrap;
                align-items: center;
                li{
                    margin-right: .8rem;
                    margin-top: .5rem;
                    display: flex;
                }
                a{
                    font-size: .85rem;
                    padding: .5rem;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
        .copyright{
            p{
                margin: .5rem 0;
                font-size: .8rem;
            }
        }
        .notice{
            font-weight: bold;
            margin: 1rem 0;
        }
    }
}
@media screen and (max-width: 767px) {
    header{
        .container{
            .menu-mobile, .menu-mobile-close{
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .nav{
                display: none;
            }
            .nav.expand{
                background-color: #fff;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 5;
                width: 100%;
                height: 100%;
                overflow: auto;
                display: flex;
                flex-direction: column;
                padding: 5rem 0;
                .menu-mobile-close{
                    position: absolute;
                    right: 1rem;
                    top: 1rem;
                }
                > ul{
                    flex-direction: column;
                    padding: 1rem;
                    li{
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        margin: .5rem 0;
                        > a, button{
                            width: 100%;
                        }
                    }
                }
                .has-submenu{
                    justify-content: space-between;
                }
                .submenu{
                    position: static;
                    margin: 5px 0;
                    width: 100%;
                    box-shadow: none;
                    .close-dropdown{
                        display: none;
                    }
                }
            }
        }
    }
}