#main{
    .container {
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
        .wrapper{
            flex-wrap: wrap;
            align-items: flex-start;
            width: 100%;
            max-width: calc(100% - 260px);
            .appretiation{
                width: 100%;
                justify-content: space-between;
                .col-2{
                    width: 49%;
                    height: auto;
                    min-height: 250px;
                    padding: 1rem;
                    margin: 1.5rem 0;
                    background-color: #f7f7f7;
                    .thanks, .guide{
                        padding: 1rem;
                        p{
                            margin: .5rem 0;
                        }
                    }
                    ul{
                        padding-left: 1.5rem;
                        list-style: circle;
                        a{
                            font-weight: bold;
                        }
                    }                    
                }
            }
            .carousel{
                width: 100%;
                justify-content: space-between;
                .tabpanel{
                    width: 100%;
                    height: auto;
                    min-height: 460px;
                    object-fit: cover;
                    background-position: center !important;
                    display: none;
                    position: relative;
                    .tab-content{
                        background-color: rgba(255,255,255,.75);
                        max-width: 320px;
                        justify-content: center;
                        height: 100%;
                        padding: 1rem;
                        h1{
                            padding: 0 .5rem;
                            text-align: center;
                        }
                        ul{
                            padding-left: 1.5rem;
                            list-style: disc;
                            a{
                                // font-weight: 600;
                                text-decoration: underline;
                            }
                        }
                    }
                }
                .tabpanel.active{
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                }
                #tabpanel-1{
                    background: url(../img/bg1.jpg) no-repeat;
                }
                #tabpanel-2{
                    background: url(../img/bg2.jpg) no-repeat;
                    background-position: top center;
                }
                #tabpanel-3{
                    background: url(../img/bg3.jpg) no-repeat;
                }
                .tablist{
                    justify-content: center;
                    .tab{
                        margin: .5rem;
                        font-size: 1rem;
                        padding: 5px;
                        font-weight: bold;
                        border: 1px solid #222;
                        border-radius: 5px;
                    }
                }
            }
            // end of carousel
            .latest-news{
                .article{
                    padding: 1rem;
                    // border: 1px solid #285B00;
                    background-color: #ECFFD3;
                    margin: .5rem 0;
                    .article-footer{
                        .timestamp{
                            font-size: 13px;
                        }
                    }
                    .content{
                        margin: .5rem;
                        font-size: .9rem;
                        p{
                            padding: .8rem 0;
                        }
                        .read-more{
                            display: flex;
                            align-items: center;
                            font-weight: 500;
                            width: auto;
                        }
                    }
                }
                .older-news{
                    margin: 1rem 0;
                    .blog{
                        font-weight: bold;
                    }
                }
            }
        } 
        //end of wrapper
        .sidebar{
            width: 240px;
            .contribute{
                .col {
                    justify-content: space-around;
                    a{
                        font-size: .8rem;
                        padding: .5rem;
                    }
                    .ti-server,.ti-comments{
                        font-size: 2rem;
                    }
                }                
            }
            .social, .sponsors, .contribute{
                width: 100%;
                margin: .5rem 0;
            }
            .social{
                align-items: flex-start;
                ul{
                    li{
                        display: flex;
                        margin-right: .5rem;
                    }
                    a{
                        padding: 5px;
                        height: 40px;
                        width: 40px;
                        border-radius: 100%;
                        border: 1px solid black;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
            .sponsors{
                align-items: flex-start;
                h2{
                    margin: .5rem 0;
                }
                .sponsor{
                    width: 100%;
                    background-color: #f7f7f7;
                    a{
                        padding: 1rem;
                    }
                }
            }
        }
        
    }
}
@media screen and (max-width: 1023px) {
    #main{
        .container{
            flex-direction: column;
            .wrapper, .sidebar{
                max-width: none;
            }
            .wrapper{
                .appretiation{
                    .col-2{
                        height: 350px;
                    }
                }
            }
            .sidebar{
                width: 100%;
                .contribute{
                    width: auto;
                }
                .social, .sponsors{
                    align-items: center;
                }
            }
        }
    }
}
@media screen and (max-width: 767px) {
    #main{
        .container{
            .wrapper{
                .appretiation{
                    flex-wrap: wrap;
                    .col-2{
                        width: 100%;
                    }
                }
                .carousel{
                    .tabpanel{
                        .tab-content{
                            max-width: none;
                            padding: 1rem 0;
                        }
                    }
                }
            }
        }
    }
}
